@{
    Layout = "_Layout";
}
@model IEnumerable<QuestionModel>

@{
    ViewData["Title"] = "Suallar";
}

<h2>Oyunda olan suallar</h2>

<div class="d-flex mb-3">
    <div class="p-2">
        <a type="button" class="btn btn-primary" asp-controller="Question" asp-action="Create">Yeni sual əlavə et</a>
    </div>
    <div class="p-2">
        <button type="button" class="btn btn-success" onclick="openTimerModal()">Vaxtı ayarla</button>
    </div>
</div>
<!-- Timer Modal -->
<div class="modal fade" id="timerModal" tabindex="-1" aria-labelledby="timerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="timerModalLabel">Oyundakı vaxtın tənzimlənməsi</h5>
                <button type="button" class="btn-close" onclick="closeTimerModal()" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-square-xmark"></i></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text">Vaxt (saniyə)</span>
                    <input type="number" class="form-control" id="timerInput" placeholder="10">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeTimerModal()" data-bs-dismiss="modal">Bağla</button>
                <button type="button" class="btn btn-primary" onclick="setGameTimer()">Yadda saxla</button>
            </div>
        </div>
    </div>
</div>

@if (Model.Any())
{
    foreach (var status in new[] { true, false })
    {
        var headerText = status ? "Oyundakı suallar" : "Questions unavailable in the game";

        if (Model.Any(question => question.IsEnable.Equals(status)))
        {
            <div class="row m-3">
                <table class="table table-striped table-hover table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Suallar</th>
                            <th>Əməliyyatlar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var i = 1;
                            foreach (var item in Model)
                            {
                                if (item.IsEnable.Equals(status))
                                {
                                    <tr class="align-middle">
                                        <td>@i</td>
                                        <td>@item.Text</td>
                                        <td>
                                            <div class="btn-group" role="group" aria-label="Actions">
                                                @if (status)
                                                {
                                                    <a type="button" class="btn btn-link" asp-controller="Question" asp-action="Disable" asp-route-id="@item.Id">Deaktiv et</a>
                                                }
                                                else
                                                {
                                                    <a type="button" class="btn btn-link" asp-controller="Question" asp-action="Enable" asp-route-id="@item.Id">Aktiv et</a>
                                                }
                                                <a type="button" class="btn btn-link" asp-controller="Question" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                                            </div>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    }
}
@section Scripts
    {
    <script type="text/javascript">
        const timerModal = new bootstrap.Modal(document.getElementById('timerModal'));
        function openTimerModal() {
            timerModal.show();
        }
        function closeTimerModal() {
            timerModal.hide();
        }
        function setGameTimer() {
            let duration = document.getElementById('timerInput').value;
            $.ajax({
                type: 'POST',
                url: '/Admin/Question/SetGameTimer?duration=' + duration,
                success: function (response) {
                    if (response === 'OK') {
                        alert('Vaxt təyin edlildi!');
                        location.reload();
                        // You can perform additional actions here, such as closing the modal or displaying a message
                    } else {
                        console.error('Error updating game timer');
                    }
                },
                error: function (xhr) {
                    console.error('Error sending SetGameTimer request:', xhr.responseText);
                }
            });
        }


    </script>


}
